<% title "#{params[:genre].titleize} Artists" %>
<h1>Artists in the <strong><%= params[:genre].titleize %></strong> genre</h1>

<% if @artists.present? %>
<div class="artist-grid">
  <% @artists.each do |a| %>
  <div class="artist">
    <a href="<%= artist_path(a) %>">
      <div class="artist-image" style="background-image: url(<%= a.spotify_image %>)"></div>
    </a>
    <%= link_to a.name, artist_path(a), class: 'artist-title' %>
  </div>
  <% end %>
</div>
<% else %>
  Sorry, couldn't find any artists in that genre!
<% end %>
