<div class="container">
<h1>Settings</h2>
  <div class="row">
    <div class="col">
      <h2>Connections</h2>
      <% if current_user.connections.spotify.present? %>
        <%= link_to "Re-connect Spotify", omniauth_authorize_path('user', 'spotify'), class: 'btn btn-light' %> 
      <% else %>
        <%= link_to "Connect Spotify", omniauth_authorize_path('user', 'spotify'), class: 'btn btn-primary' %> 
      <% end %>

      <button id="apple-music-authorize" class="btn btn-primary">Connect Apple Music</button>
      <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
      <%= javascript_include_tag 'applemusic' %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h2>Cancel my account</h2>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
</div>