<% title "Artists" %>
<div class="container">
  <div class="row">
    <h1>
      Artists
      <% if current_user %>
      <small class="text-muted">The artists you follow</small>
      <% else %>
      <small class="text-muted">Popular artists</small>
      <% end %>
    </h1>

    <div class="row">
      <% @artists.each do |a| %>
      <div class="col-sm-2">
        <div class="card artist">
          <a href="<%= artist_path(a) %>"><div class="card-img-top rounded" style="background-image: url(<%= a.spotify_image %>)"></div></a>
          <div class="card-block">
            <h4 class="card-title"><%= link_to a.name, artist_path(a) %></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>