<% title "Artists Search Results: #{params[:artist]}" %>
<h2>Search results for <strong><%= params[:artist] %></strong></h2>

<% if @artists.present? %>
<div class="artist-grid">
  <% @artists.each do |a| %>
  <div class="artist">
    <a href="<%= artist_path(a) %>">
      <div class="artist-image" style="background-image: url(<%= a.spotify_image %>)"></div>
    </a>
    <%= link_to a.name, artist_path(a), class: 'artist-title' %>
  </div>
  <% end %>
</div>
<% else %>
  Sorry, couldn't find any artists matching that term!
<% end %>
