<% title "Community" %>
<h1>Community</h1>

<div class="user-grid">
  <% @users.each do |user| %>
  <div class="user">
    <a href="<%= user_path(user) %>">
      <div class="user-image" style="background-image: url(<%= user.avatar_image %>)"></div>
    </a>
  </div>
  <% end %>
</div>