<% title @user.screename %>
<div class="container">
<div class="row">
  <div class="col">
    <img src="<%= @user.avatar_image %>" class="rounded-circle float-left mr-3" style="max-width:65px">

    <h1 class="display-4"><%= @user.screename %></h1>
  </div>
</div>
<hr>
</div>