<% title "Top Artists" %>
<h1>Top Artists</h1>

<div class="artist-grid">
  <% @follows.each do |artist| %>
  <% a = Artist.find_by_id(artist.first) %>
  <div class="artist">
    <a href="<%= artist_path(a) %>">
      <div class="artist-image" style="background-image: url(<%= a.spotify_image %>)"></div>
    </a>
    <%= link_to a.name, artist_path(a), class: 'artist-title' %>
  </div>
  <% end %>
</div>