<% title "Top Artists" %>
<div class="container">
  <div class="row">
    <h1>Top Artists
    <small class="text-muted">The most-followed artists</small>
    </h1>
    <div class="row">
      <% @follows.each do |artist| %>
      <% a = Artist.find_by_id(artist.first) %>
      <div class="col-sm-2">
        <div class="card artist">
          <a href="<%= artist_path(a) %>"><div class="card-img-top rounded" style="background-image: url(<%= a.spotify_image %>)"></div></a>
          <div class="card-block">
            <h4 class="card-title"><%= link_to a.name, artist_path(a) %></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>