<% title "Latest Music Releases" %>
<h1>Albums</h1>
<div class="latest-upcoming">
  <ul class="subnav">
    <li><%= link_to "Latest Releases", albums_path, class: 'active' %></li>
    <li><%= link_to "Upcoming Releases", upcoming_albums_path %></li>
  </ul>
  <% if @albums.empty? %>
    <p>No new albums, make sure to check back later!</p>
  <% end %>
  <div class="album-grid">
    <%= render @albums %>
  </div>
</div>
<!-- <div class="past-albums">
  <div class="past-date">
    <h3>August 17, 2018</h3>
    <div class="album-grid">
      <div class="album">
        <a href="#" class="album_cover">
          <span class="sources">
            <i class="fab fa-spotify"></i>
            <i class="fab fa-apple"></i>
          </span>
          <img src="../images/500x500bb.jpg" />
        </a>
        <span class="single" title="Single">S</span>
        <a href="#" class="album-title">Album Title</a>
        <a href="#" class="album-artist">Artist</a>
      </div>
      <div class="album">
        <a href="#" class="album_cover">
          <span class="sources">
            <i class="fab fa-spotify"></i>
            <i class="fab fa-apple"></i>
          </span>
          <img src="../images/500x500bb.jpg" />
        </a>
        <span class="single" title="Single">S</span>
        <a href="#" class="album-title">Album Title</a>
        <a href="#" class="album-artist">Artist</a>
      </div>
      <div class="album">
        <a href="#" class="album_cover">
          <span class="sources">
            <i class="fab fa-spotify"></i>
            <i class="fab fa-apple"></i>
          </span>
          <img src="../images/500x500bb.jpg" />
        </a>
        <span class="single" title="Single">S</span>
        <a href="#" class="album-title">Album Title</a>
        <a href="#" class="album-artist">Artist</a>
      </div>
    </div>
  </div>
</div> -->
