<% title "New Music Releases" %>
<h1 class="tiny">Music</h1>
<%= link_to "View All &rarr;".html_safe, latest_albums_path, class: 'view_all' %>
<h2>New Releases</h2>
<div class="latest-upcoming">
  <% if @latest.empty? %>
    <p>No new albums, make sure to check back later!</p>
  <% end %>
  <div class="album-grid">
    <%= render @latest %>
  </div>
</div>

<%= link_to "View All &rarr;".html_safe, upcoming_albums_path, class: 'view_all' %>
<h2>Upcoming Releases</h2>
<div class="latest-upcoming">
  <% if @upcoming.empty? %>
    <p>No new albums, make sure to check back later!</p>
  <% end %>
  <div class="album-grid">
    <%= render @upcoming %>
  </div>
</div>