<% title "Upcoming Music Releases" %>
<h1>Albums</h1>
<div class="latest-upcoming">
  <ul class="subnav">
    <li><%= link_to "Latest Releases", albums_path %></li>
    <li><%= link_to "Upcoming Releases", upcoming_albums_path, class: 'active' %></li>
  </ul>
  <% if @albums.empty? %>
    <p>No new albums, make sure to check back later!</p>
  <% end %>
  <div class="album-grid">
    <%= render @albums %>
  </div>
</div>
