$fonts:       "SF Text", -apple-system, BlinkMacSystemFont, monospace, 'Helvetica', Arial, sans-serif;
$blue:        #15B6FB;
$darkest:     #0F1011;
$darker:      #202425;
$darker-gray:   #373D3F;
$light-gray:    #9DA2A4;
$gray:        #90999B;
$pink:          #EC3063;
$lighter-gray:    #E3E8E8;
$lightest-gray:   #F9F9F9;
$black:         #1A1A26;
$white:         #fff;
$green:         #2BC09C;
$red:           #E83353;

$album-grid-rows: 4;
$album-grid-cols: 6;