$dark: #202425;
$primary: #15B6FB;
$font-family-sans-serif:      'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family: 'Nunito', sans-serif;

@import "bootstrap";

.navbar {
  font-family: 'Nunito', sans-serif;
  form {
    .input-lg {
      background-color: lighten($dark, 12%)!important;
      border: 0;
      color: $white;
    }
  }
}
.navbar-main {
  padding-top: 0!important;
}
.nav-item {
  &.active {
    box-shadow: 0 2px $primary inset;
  }
  &:hover {
    box-shadow: 0 2px $primary inset;
  }
}
.bg-lightdark {
  background: lighten($dark, 4%)!important;
}

.bd-footer {
  border-top: 1px solid #f7f7f7;
  background: #fcfcfc;
  font-size:85%;
  margin-top: 20px;
  .text-muted {
    color: #6c757d!important;
  }
  a {
    font-weight: bold;
    color: #495057;
  }
  p {
    margin-bottom: 5px;
  }
}

.card.artist {
  border: 0;
  .card-img-top {
    height: 150px;
    max-height: 110px;
    width: 100%;
    display: block;
    background-size: 100%;
    background-position: center;
  }
  .card-block {
    padding: 0.5rem 0.1rem;
  }
  .card-title {
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom:2px;
    margin-bottom: 0.3rem
  }
}

.card.album {
  border: 0;
  font-family: 'Nunito', sans-serif;
  .card-block {
    padding: 0.5rem 0.1rem;
  }
  .card-title {
    font-size: 15px;
    font-weight: 100;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom:2px;
    margin-bottom: 0.1rem;
    a {
      color: $dark!important;
    }
  }
  h6 {
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 0.05rem;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    a {
      color: #9DA2A4;
    }
  }
  .album_cover {
    position: relative;
  }
  .sources {
    position: absolute;
    right: 0.5rem;
    bottom: 0.2rem;
    i {
      color: $white;
      padding-left: 3px;
      text-shadow: 0 0 10px rgba($dark, 0.1);
      //opacity: 0.8;
    }
  }
  .release-date {
    font-size: 13px; 
    margin-bottom: 0;
    color: $dark;
  }
  &.news {
    .card-img-top {
      width: 100%;
      display: block;
      min-height: 140px;
      max-height: 200px;
      background-position: center 15%;
    }
  }
}

.video_wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}