$dark: #202425;
$primary: #15B6FB;
$font-family-sans-serif:      'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$headings-font-family: 'Nunito', sans-serif;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 1.5 !default;

@import "bootstrap";

.btn.disabled {
  pointer-events: auto;
}

.navbar {
  font-family: 'Nunito', sans-serif;
  form {
    .input-lg {
      background-color: rgba($dark, 0.05);
      border: 0;
    }
  }
  font-size: .95em;
  .row {
    flex-grow: 1;
  }
}
.navbar-nav {
  margin-top:-5px;
}
.navbar-main {
  padding-top: 0!important;
}
.nav-item {
  &.active {
    box-shadow: 0 2px $primary inset;
  }
  &:hover {
    box-shadow: 0 2px $primary inset;
  }
}
.jumbotron {
  background-image: image-url('bgr-jumbo.png');
  background-size: 100%;
  .fa-twitter {
    color: $primary;
  }
}
.bg-lightdark {
  background: lighten($dark, 4%)!important;
}

.bd-footer {
  border-top: 1px solid #f7f7f7;
  background: #fcfcfc;
  font-size:85%;
  margin-top: 20px;
  .text-muted {
    color: #6c757d!important;
  }
  a {
    font-weight: bold;
    color: #495057;
  }
  p {
    margin-bottom: 5px;
  }
}

.card.artist {
  border: 0;
  .card-img-top {
    height: 150px;
    max-height: 110px;
    width: 100%;
    display: block;
    background-size: 100%;
    background-position: center;
  }
  .card-block {
    padding: 0.5rem 0.1rem;
  }
  .card-title {
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    padding-bottom:2px;
    margin-bottom: 0.3rem
  }
}

.card.album {
  border: 0;
  font-family: 'Nunito', sans-serif;
  .card-block {
    padding: 0.5rem 0.1rem;
  }
  .card-title {
    font-size: 15px;
    font-weight: 100;
    padding-bottom:2px;
    margin-bottom: 0.1rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between; // or could be flex-start 
    a {
      color: $dark!important;
      white-space: nowrap; 
      text-overflow: ellipsis;
      overflow: hidden;      
    }
    .badge {
      margin-left: 0.25em;
    }
  }
  h6 {
    font-size: 13px;
    font-weight: 100;
    margin-bottom: 0.05rem;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    a {
      color: #9DA2A4;
    }
  }
  .album_cover {
    position: relative;
    img {
      //border: 1px solid ;
    }
    & a:before {
      box-shadow: inset 0 0 1px 0 rgba($dark, 0.5);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      border-radius: 5px;
    }
  }
  .sources {
    position: absolute;
    right: 0.5rem;
    bottom: 0.2rem;
    i {
      color: $white;
      padding-left: 3px;
      text-shadow: 0 0 10px rgba($dark, 0.1);
      //opacity: 0.8;
    }
  }
  .release-date {
    font-size: 13px; 
    margin-bottom: 0;
    color: $dark;
  }
}

.video_wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
