@import "variables";
@import "reset";
@import "media-queries";

// Layout

.container {
  position: relative;
  max-width: 1140px;
  padding: 0 24px;
  margin: 0 auto;
}

// Header
header {
  position: relative;
  margin: 0 0 30px;
  background: $black;

  #logo {
    float: left;
    margin: 18px 40px 0 0;
    display: block;
    width: 116px;
    height: 23px;
    padding: 0;
    text-indent: -9999em;
    background: image-url('logo-droptune-color-white.svg') no-repeat top left;

    &:hover {
      border-top-color: #fff;
    }
    @include max-screen(910px) {
      float: none;
      margin: 0 0 0 0;
      top: 20px;
      position: relative;
      padding: 20px 0;
    }
  }

  a#mobile-menu {
      display: none;
      position: absolute;
      top: 18px;
      right: 24px;
      width: 24px;
      height: 15px;
      color: $white;
      font-size: 1.5em;
      @include max-screen(910px) {
          display: block;
      }
  }

  nav {
    height: 64px;
    padding: 0;

    &.show {
      display: block;
    }

    @include max-screen(910px) {
      position: absolute;
      top: 57px;
      left: 0;
      right: 0;
      padding: 0;
      height: 56px;
      display: none;
      height: auto;
      background: #fff;
      z-index: 99;
    }

    a {
      display: inline-block;
      padding: 15px 0 0;
      margin: 0 35px 0 0;
      border-top: 2px solid transparent;
      font-size: 15px;
      font-weight: 400;
      color: $gray;
      transition: all 0.2s linear;

      &:hover, &.active {
        color: $white;
        border-top-color: $blue;
      }

      @include max-screen(1023px) { margin: 0 20px 0 0; }

      &#twitter-sign-in {
        float: right;
        margin: 0;

        @include max-screen(910px) {
          float: none;
        }
      }

      @include max-screen(910px) {
        position: relative;
        clear: left;
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        border-bottom: 1px solid $lighter-gray;
        line-height: 43px;
        text-align: center;
        padding: 8px 0;
        margin: 0;
      }
    }
  }

  form {
    padding: 25px 0px 0;

    input[type=text] {
      display: block;
      width: 98%;
      border: 2px solid $lighter-gray;
      height: 49px;
      padding-left: 2%;
      line-height: 49px;
      border-radius: 4px;
      font-size: 18px;
      outline: none;
      background: #fff;
    }
  }
}

// Typography
h1 {
  font: 400 45px/70px $fonts;
}
h2 {
  font: 400 22px/35px $fonts;
  margin: 0 0 24px;
}
h3 {
  font: 400 20px/30px $fonts;
  margin: 0 0 14px;
}

// Page elements
.subnav {
  display: block;
  margin-bottom: 25px;
  li {
    display: inline-block;
    margin-right: 18px;
    a {
      color: $light-gray;
      font-size: 18px;
      transition: all 0.2s linear;
      &.active, &:hover {
        color: $black;
        border-bottom: 2px solid $blue;
      }
    }
  }
}
.breadcrumb {
  ol {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        color: $gray;
      }
      &:after {
        content: '/';
        color: $gray;
        padding: 0 8px 0 12px;
      }
      &.active {
        &:after {
          content: '';
          padding: 0;
        }
      }
    }
  }
}
.alert {
  padding: 15px 0;
  margin: -30px 0 30px;
  font-size: 1.1em;
  text-align: center;
  color: $white;
  &.success {
    background: $green;
  }
  &.error {
    background: $red;
  }
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px 30px;
  @include max-screen(700px) {
    grid-template-columns: 1fr 1fr;
  }
  @include max-screen(550px) {
    grid-template-columns: 1fr;
  }
}

.jumbotron {
  text-align: center;
  padding: 40px 20px;
  color: $white;
  border-radius: 10px;
  background-image: image-url('bgr-jumbo.png');
  background-size: 100%;
  h2 {
    font-weight: 400;
    font-size: 3em;
    margin: 0 0 15px;
  }
  p {
    font-weight: 200;
    font-size: 1.8em;
    margin-bottom: 30px;
  }
  .fa-twitter {
    color: $blue;
  }
}
.btn {
  padding: 10px 15px;
  border-radius: 100px;
  &.btn-white {
    color: $black;
    background: $white;
  }
}

.latest {
  margin-top: 20px;
  h1 {
    font: 400 35px/70px $fonts;
  }
}

.album-single {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 30px;
  @include max-screen(700px) {
    grid-template-columns: 1fr;
  }
  .album_cover {
    div {
      position: relative;
      line-height: 0;
      &:before {
        box-shadow: inset 0 0 0 1px rgba($black, 0.1);
        content: '';
        display: block;
        bottom: 0;
        position: absolute;
        top: 0;
        width: 100%;
        border-radius: 5px;
      }
    }
  }
  img {
    width: 100%;
    border-radius: 5px;
  }
  .details {
    span {
      text-transform: uppercase;
      font-weight: 800;
      font-size: .9em;
      color: $light-gray;
    }
    h1 {
      line-height: 40px;
    }
    h2 {
      color: $gray;
      margin-bottom: 0;
    }
    .released {
      font-size: .9em;
    }
    .add {
      margin-top: 25px;
      a {
        border-radius: 100px;
        color: $white;
        padding: 8px 15px;
        margin-right: 5px;
        font-weight: 600;
        font-size: 1.1em;
        background: linear-gradient(180deg, #019BDD 0%, #01C0DD 100%);
      }
    }
  }
}

// Album Layout
.album-grid, .artist-grid, .user-grid {
  display: grid;
  grid-template-rows: repeat($album-grid-rows, auto);
  grid-template-columns: repeat($album-grid-cols, 1fr);
  grid-gap: 20px 30px;

  @include max-screen(1023px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include max-screen(768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include max-screen(600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}


.album, .artist, .user {
  font-size: 13px;

  .album_cover {
    position: relative;
    &:before {
      box-shadow: inset 0 0 0 1px rgba($black, 0.1);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      border-radius: 5px;
    }
    .sources {
      position: absolute;
      bottom: 6px;
      right: 10px;
      color: $white;
      i {
        font-size: 1.1em;
        margin-left: 5px;
        text-shadow: 0 0 10px rgba($black, 0.1);
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 0 10px;
    border-radius: 5px;
  }

  .single {
    float: right;
    background: $gray;
    color: $white;
    display: inline-block;
    border-radius: 2px;
    width: 14px;
    height: 14px;
    font-weight: 800;
    text-align: center;
    font-size: 9px;
    line-height: 14px;
  }

  .artist-title {
    font-size: 1.2em;
  }
  .artist-image {
    display: block;
    width: 100%;
    height: 150px;
    max-height: 110px;
    background-size: 100%;
    background-color: $gray;
    background-position: center;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  .user-image {
    position: relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background-size: 100%;
    background-color: $gray;
    background-position: center;
  }
  a {
    display: block;
    line-height: 17px;
  }

  a.album-title, a.artist-title {
    color: $darker;
  }

  a.album-artist {
    color: $light-gray;
  }
  .release-date {
    margin: 0;
    line-height: 17px;
  }
}
.latest-upcoming {
  margin-bottom: 60px;
}
.past-albums {
  .past-date {
    margin-bottom: 0px;
  }
}

// Footer
footer {
  margin: 40px 0 0;
  padding: 40px 0;
  background: $lightest-gray;

  a { color: $blue; }
}
